<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home page</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>
<body>
<header th:if="${user.role.name} == 'ROLE_USER'" th:insert="~{/blocks/userHeader :: header}"></header>
<header th:unless="${user.role.name} == 'ROLE_USER'" th:insert="~{/blocks/adminHeader :: header}"></header>
<div class="grid w-3/4 mx-auto grid-cols-1 gap-y-10 text-2xl mx-auto my-20">
  <h1 class="font-semibold text-6xl mx-auto">
    Profile
  </h1>
  <p class="flex gap-x-5 align-center">
    <span class="text-3xl font-semibold">Id:</span>
    <span th:if="${user.role.name} == 'ROLE_USER' or !${selectedUser}" th:text="${user.id}"/>
    <span th:unless="${user.role.name} == 'ROLE_USER' or !${selectedUser}" th:text="${selectedUser.id}"/>
  </p>
  <p class="flex gap-x-5 align-center">
    <span class="text-3xl font-semibold">Name:</span>
    <span th:if="${user.role.name} == 'ROLE_USER' or !${selectedUser}" th:text="${user.firstName} + ' ' + ${user.lastName}"/>
    <span th:unless="${user.role.name} == 'ROLE_USER' or !${selectedUser}" th:text="${selectedUser.firstName} + ' ' + ${selectedUser.lastName}"/>
  </p>
  <p class="flex gap-x-5 align-center">
    <span class="text-3xl font-semibold">Email:</span>
    <span th:if="${user.role.name} == 'ROLE_USER' or !${selectedUser}" th:text="${user.email}"/>
    <span th:unless="${user.role.name} == 'ROLE_USER' or !${selectedUser}" th:text="${selectedUser.email}"/>
  </p>
  <p class="flex gap-x-5 align-center">
    <span class="text-3xl font-semibold">Role:</span>
    <span th:if="${user.role.name} == 'ROLE_USER' or !${selectedUser}" th:text="${user.role.name}"/>
    <span th:unless="${user.role.name} == 'ROLE_USER' or !${selectedUser}" th:text="${selectedUser.role.name}"/>
  </p>
  <a th:if="${user.role.name} == 'ROLE_ADMIN' and ${selectedUser}" th:href="@{/delete/{id}(id=${selectedUser.id})}" class="btn btn-primary">Delete</a>
</div>
</body>
</html>